
html,
body {
    height: 100%;
}

body {
    font-size: 17px;
    line-height: 27px; 
    @extend %roboto-400;
    color: #525560;
} 
 
.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px; 
    border: 1px solid green; 
}    
 
.main-btn{ 
   @extend %roboto-500;  
   font-size: 17px;  
   line-height: 19px;
   background-color: #70c174;
   color:#FFF;   
   border-radius: 4px;  
   cursor: pointer;
   border: 1px solid transparent; 
   display: block;
} 
 
.second-btn{  
  @extend %roboto-500; 
  font-size: 17px;  
  line-height: 19px;
  background-color: #fff;
  color: #1d2130; 
  border-radius: 4px;   
  cursor: pointer;
  border: 1px solid transparent; 
  display: block;
} 
 
.menu__link--navbtn{  
    @extend %roboto-500;  
    font-size: 17px;
    line-height: 19px; 
    background-color: #1d2130;  
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 26px; 
    border: 1px solid transparent; 
    max-width: 109px; 
    display: block;
}   
 
.majority-suptitle{  
    @extend %roboto-700; 
    font-size: 17px; 
    position: relative;  
    border: 1px solid transparent; 
    text-transform: uppercase; 
    color:#1D2130; 
    &::before{ 
        content:""; 
        width: 73px; 
        height: 3px; 
        background-color:#1D2130; 
        position:absolute; 
        top: 10px;
        left: -98px;
       }  
   }
 
h1{ 
  @extend %roboto-700; 
  font-size: 64px; 
  color: #FFF; 
  line-height: 75px;   
} 
  
h3{ 
    @extend %roboto-700; 
    font-size: 48px; 
    line-height: 58px;   
    color:#1D2130;
}
 