@media(max-width:1309px) {   
     
    // events
     
    .events__items{ 
       flex-direction: column;
       align-items:center; 
       row-gap: 34px;
    }

}   
     
 @media(max-width:1295px) {    
     
    //  society
      
     .society__items{ 
       flex-wrap: wrap; 
       justify-content: center;
     } 
      
     .society__item{ 
        margin: 10px;
     } 
      
     .news__items{ 
        flex-wrap: wrap; 
        justify-content: center;
     } 
      
     .news__item{ 
        margin: 19px;
     }

    }
    
    
    
     
       @media(max-width:1275px) {   
         
        // main
         
        .main__bottom-line{ 
          margin: 0 15px;
        } 
         
        .main__bottom-text{ 
            white-space: nowrap;
        }  
         
        // wecare
         
        .wecare__main{  
           display: flex; 
           flex-direction: column; 
           align-items:center; 
           padding-left: 0;
        } 
          
        .wecare__img{ 
           margin: 0 0 35px 0;
        } 
         
        .wecare__content {
            padding: 95px 0 85px 0;
        }  
         
        // society
         
         .society__content{ 
            padding: 95px 0 0 137px;
         } 
          
         .society__title {
            margin-bottom: 40px;
        } 
         
        .society__items {
            margin-bottom: 70px;
        }

       }     
        
       @media(max-width:1245px) {     
         
        // help-nature 
         
        .help-nature__main{  
           display: flex;
           flex-direction: column; 
           align-items: center;
           padding-left: 0;
        }
         
    
        .help-nature__content{ 
            margin-bottom: 50px;
        }

       }  
        
       @media(max-width:1135px) {  
         
        // donations
         
        .donations {
            padding: 70px 0;
        }

       }  
        
       @media(max-width:1095px) {   
         
        // donations
         
        .donations__inner{ 
            flex-direction: column;
        } 
         
        .donations__img{ 
            order: 1; 
            margin-bottom: 50px;
        } 
         
        .donations__content{ 
            order: 3;
        } 
          
        // contribute 

        .contribute {
            padding: 94px 0 94px;
        }

       }

        
       @media(max-width:975px) {    
         
         // help-nature
         
        .help-nature__supporters{  
           display: flex;
           flex-wrap: wrap; 
           justify-content: center;
        } 
         
        .help-nature__supporter{ 
            margin: 25px;
        }

       }
        
       @media(max-width:930px) {     
         
        //   main
         
        .main__buttons {
            margin-bottom: 150px;
        }  
         
        //  wecare
         
        .wecare__content {
            padding: 95px 0 75px 0;
        }  
         
        // contribute
         
        .contribute__inner {
            padding-top: 75px;
        } 
         
        .contribute__buttons {
            margin: 0 auto 75px; 
        }

       }  
        
       @media(max-width: 815px) {     
         
        // wecare
         
        .wecare__content {
            padding: 57px 0 75px 0;
        }

       }
         

       @media(max-width: 775px) {     
         
        // header
         
        .header__inner .menu .menu__list{ 
            display: block; 
            position: absolute;
            top: 115px;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-3500px); 
            background-color: #1d2130; 
            transition: all .7s;
        }  
         
        .header__inner .menu .menu__list .menu__item + .menu__item {
            margin-left: 0;
        }  
         
        .menu__link--navbtn{ 
            background-color: #80b918; 
            margin: 0 auto;  
        }
         
        .header__inner .menu .menu__btn {
            display: block;
        } 
         
        .header__inner .menu .menu__list.menu__list--active{ 
            transform: translateY(0);
        } 
         
        .menu__item{ 
            padding: 15px 0;
        } 
         
        .header__inner .menu .menu__list .menu__link { 
            color:#FFF; 
        }  
         
        // society
         
        .society__content {
            padding: 95px 0 0 0; 
            display: flex; 
            flex-direction: column; 
            align-items:center;
        }  
         
        .society__suptitle {
            margin-bottom: 35px;
        } 
         
        .society__content {
            padding: 75px 0 0 0; 
        } 
         
        // contribute

        .contribute {
            padding: 74px 0 74px;
        }  
         
        // news
         
        .news__inner {
            padding-top: 69px; 
        } 
          
        // events 

        .events__title {
            font-size: 34px; 
        }

       } 
        
       @media(max-width: 705px) {    
         
        //  main 
         
        .main__buttons {
            margin-bottom: 115px;
        } 
         
        .main__inner-title {
            max-width: 587px;
            margin-bottom: 48px;
            display: block;
        }   

        .society__content{ 
            text-align: center;
        }

       }    
        
       @media(max-width: 675px) {   
         
        // donations
         
        .donations__jobdone {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 15px;
            column-gap: 25px;
        }  
         
        // form pop up
         
        .mp-form-wrapper { 
            width: 550px;
            height: 680px;
        } 
         
        .mp-title {
            font-size: 29px; 
        }  
         
        .mp-textarea{ 
            width: 455px;
        }
        
       } 
        
       @media(max-width: 635px) {    
         
        // events
          
        .events__item {
            padding: 32px 25px 40px 25px;
        }
        
         

       }
         
       @media(max-width: 630px) {  
         
        // wecare
         
        .wecare__content {
            padding: 57px 0 57px 0;
        }  
          
        // contribute

        .contribute__inner {
            padding-top: 65px;
        } 
         
        .contribute__buttons {
            margin: 0 auto 65px; 
        }

       } 
        
       @media(max-width:595px) {    
         
        // form pop up
         
        .mp-form-wrapper {
            width: 480px;  
        } 
         
        .mp-textarea {
            width: 385px;   
        } 
         
        .mp-title {
            font-size: 23px;
        } 
          
        // events 

        .events__item-number {
            font-size: 35px; 
        } 
         
        .events__item-month {
            font-size: 15px; 
        } 
         
        .events__item-suptitle {
            font-size: 14px; 
        } 
          
        .events__item-suptitle::after{ 
            display: none;
        }

       }
 
        
       @media(max-width:585px) {   
         
        // main

        .main__buttons {
            margin-bottom: 75px;
        }  
         
        .main__bottom-text{ 
            font-size: 17px;
        }  
         
        // wecare
         
        .wecare__img {
            max-width: 435px;
            height: 614px; 
        }  
         
        // contribute
         
        .contribute__inner {
            padding: 65px 15px 0 15px; 
        }  
         
        // news
         
        .news__item{ 
         margin: 0; 
         margin-bottom: 34px;
        }

      }  
       
      @media(max-width: 575px){   
         
        // events

        .events__item-date{ 
            display: none;
        } 
         
        .events__item {
            height: 175px;
        } 
         
        .events__inner {
            padding-top: 55px; 
        } 
         
        .events__title {
            font-size: 28px;
        }

      }
       
      @media(max-width:530px) {   
         
        // help-nature
         
        .help-nature__video {
            border: 1px solid transparent;
            max-width: 440px;
            height: 538px; 
        } 
         
        // form pop up

        .mp-form-wrapper {
            width: 417px;
        } 
         
        .mp-textarea {
            width: 325px;
        }  
         
        // events
         
        .events__items {
            row-gap: 19px; 
        }

       }
         

     
     @media(max-width:525px) {

        //  fancybox
    
        .fancybox-slide { 
            padding: 10px;
        } 
    
    } 
     
    @media(max-width:500px) { 
         
        // main

        .main__inner-title {
            max-width: 445px;
            margin-bottom: 48px;
            display: block;
        } 
         
        .main__bottom-text {
            font-size: 15px;
        } 
         
        .main__bottom {
            margin-bottom: 35px;
        }  
         
        // contribute
         
        .contribute__inner {
            padding: 55px 15px 0 15px;
        } 
         
        .contribute__buttons {
            margin: 0 auto 55px;
        }
    
    }   
     
    @media(max-width:478px) {    
         
        // help-nature
         
        .help-nature__suptitle {
            margin-bottom: 19px;
        } 
         
        .help-nature__video {
            border: 1px solid transparent;
            max-width: 400px;
            height: 498px;
        } 
         
        .help-nature__video-play {
            width: 54px;
            height: 54px; 
        } 
          
        // events 

        .events__item-content{ 
            padding-right: 35px;
        } 
         
      
    } 
     
    @media(max-width:455px) {    
         
        // wecare
         
        .wecare__img {
            max-width: 380px;
            height: 559px;
        } 
         
        .wecare__point {
            margin-bottom: 40px;
        } 
         
        // donations

        .donations__jobdone {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 1fr);
            row-gap: 15px;
        } 
         
        .donations {
            padding: 70px 0 50px 0;
        }  
         
        // form pop up
         
        .mp-form-wrapper {
            width: 345px; 
        } 
         
        .mp-textarea {
            width: 270px;
        } 
         
        .events__item-title--long{ 
            max-width: 173px;
        }

    }
     
    @media(max-width:438px) {     
         
        // help-nature
         
        .help-nature__video {
            border: 1px solid transparent;
            max-width: 350px;
            height: 448px;
        }  
         
        // wecare
         
        .wecare__content {
            padding: 47px 0 37px 0;
        } 
         
        .wecare__img {
            max-width: 350px;
            height: 529px;
        } 
         
        .wecare__text { 
            font-size: 15px;
            line-height: 23px;
        }  

        // society  

        .society__item{ 
            height: 395px;
        } 
         
        .society__item-text {
            color: #FFF;
            margin-bottom: 35px;
        }  
         

    } 
     
    @media(max-width:425px) {   
         
        // society
       
        .society__item{ 
            height: 377px;
        } 

        .society__item-text{ 
            font-size: 15px;
        }
    } 
     
    @media(max-width:420px) {    
         
        // society
       
        .society__item-text {
            margin-bottom: 21px;
        }   

    }
     

     
    @media(max-width:395px) {  
      
        // main 

        .main__bottom-text{ 
            display: none;
        } 
         
        .main__inner {
            padding-top: 155px;
        } 
          
        // wecare  

        .wecare__point-title {
            font-size: 21px; 
        } 
         
        .wecare__content {
            padding: 47px 0 5px 0;
        }  
         
        // society 

        .society__item { 
            padding: 28px 25px 0px 25px; 
            height: 315px;
        } 
         
        .society__item-text {
            margin-bottom: 27px;
        } 
         
        // contribute  

        .contribute__buttons {
            margin: 0 auto 45px;
        } 
         
        .contribute__title {
            margin: 0 auto 30px;
        } 
         
        .contribute__inner {
            padding: 45px 15px 0 15px;
        } 
         
        .contribute__btn-green {
            max-width: 170px;
            padding: 17px 15px;   
            font-size: 15px;
        } 
         
        .contribute__btn-grey{ 
           padding: 17px 15px;   
           font-size: 15px;   
        } 
         
        .contribute__buttons {
            max-width: 270px;
        }


    }    
     
    @media(max-width:378px) {   
         
        // form pop up
         
        .mp-form-wrapper {
            width: 318px; 
            padding: 48px 31px;
        }  
         
        .mp-textarea {
            width: 238px; 
        } 
         
        .news__inner{  
            border-top: 1px solid transparent;
        } 
          
         
        // events
          
        .events__item {
            padding: 32px 19px 40px 19px;
        }


    }
     
 
     
    @media(max-width:350px) {    

          // main   
           
       .main__bottom{ 
         display: none;
       }      
         
    //    help-nature 

     .help-nature__text--biggermargin {
        margin-bottom: 30px;
      } 
       
      .help-nature__video {
        border: 1px solid transparent;
        max-width: 317px;
        height: 415px;
    } 
     
    .help-nature__supporters {
        padding: 41px 0 15px 0;
    } 
      
    // wecare 

     .wecare__content {
         padding: 37px 0 5px 0;
     } 
     
     .wecare__suptitle {
         margin-bottom: 15px; 
     }    
      
     .wecare__subtitle {
        margin-bottom: 35px; 
    }
      
     .wecare__img {
        max-width: 300px;
        height: 425px;
    } 
     
    .wecare__point{ 
        margin-bottom: 70px;
    } 
     
    .wecare__point-title {
        font-size: 20px;
    }  
     
    // society
      
    .society__item {
        height: 335px;
    } 
      
    // form pop up 

    .mp-form-wrapper {
        width: 290px; 
    } 
     
    .close-popup-btn {
        position: absolute;
        top: 10px;
        right: 10px; 
    } 
     
    .mp-form-wrapper {
        width: 289px;
        padding: 40px 15px 0px 17px; 
        height: 640px;
    } 
     
    .mp-textarea {
        height: 135px;
        padding: 20px 10px;
        margin-bottom: 19px;
    }   
     
    // news
     
    .news__title{ 
     line-height: 38px; 
     font-size: 30px;
    }
     
    
    } 
     
    @media(max-width:338px) {      

        // help-nature  

        .help-nature__video {
            border: 1px solid transparent;
            max-width: 288px;
            height: 386px;
        }  
         
        .help-nature__supporters-title{ 
            font-size: 15px;
        } 
         
        .help-nature__main {
            margin-bottom: 54px;
        }  
         
        // wecare
         
        .wecare__content {
            padding: 37px 0px 0px 0px;
        }  
         
        .wecare__point-title {
            font-size: 18px;
        }
          
        .wecare__point--nomargin{ 
            margin-bottom: 65px;
        } 
         
        .wecare__img {
            max-width: 300px;
            height: 405px;
        }

    }   
     
     
    @media(max-width:321px) {    
         
      .contribute__inner {
          padding: 27px 15px 0 15px;
      }

    }
     
    
     
     


