@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header    

.header{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 999; 
    box-shadow: -3px 1px 18px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 1px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 1px 18px -2px rgba(0,0,0,0.75);
}

.header__inner {
    padding: 20px 0;
    border: 1px solid #FFF; 
    display: flex; 
    justify-content: space-between; 
    align-items:center;

    .menu {
        margin-left: auto;

        .menu__btn {
            position: relative;
            width: 50px;
            height: 40px;
            border: none;
            padding: 0;
            background-color: transparent;
            transition: all 0.25s;
            display: none;

            .row-top,
            .row-middle,
            .row-bottom {
                position: absolute;
                top: 0;
                left: 0;
                width: 45px;
                height: 3px;
                background: #80b918;
                transform: rotate(0);
                transition: all 0.5s;
            }

            .row-middle {
                transform: translateY(16px);
            }

            .row-bottom {
                transform: translateY(33px);
            }

        }

        .menu__btn--open {
            .row-top {
                transform: rotate(45deg) translateY(10px) translateX(10px);
            }

            .row-middle {
                display: none;
            }

            .row-bottom {
                transform: rotate(-45deg) translateY(10px) translateX(-10px);
            }
        }

        .menu__list {
            display: flex;
            align-items: center;

            .menu__item+.menu__item {
                margin-left: 40px;

            }

            .menu__link {
                transition: all .3s;
                font-size: 17px;
                color:#0b0106;
                @extend %roboto-700;
            }

            .menu__link--navbtn {
                color: #FFF; 
            }  
             
            .menu__link:hover {
                color: #80b918;
            } 
             
            .menu__link--navbtn:hover{ 
                color: #FFF;    
            }
        }
    }
}
 
.main{ 
    background-image: url('../images/main/main-bg.jpg'); 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size:cover;    
    margin-bottom: 97px;

    &__inner{ 
        padding-top: 179px;
    }     
     
    &__inner-title{ 
        max-width: 670px; 
        margin-bottom: 48px; 
        display: block;
    }  
     
    &__buttons{ 
        max-width: 315px;
        display: flex; 
        justify-content: space-between; 
        border: 1px solid transparent; 
        margin-bottom: 193px;
    }
     
    &__whatwedo{ 
        padding: 17px 27px; 
        color: #1D2130; 
        display: block; 
        max-width: 148px; 
        height: 50px;
    } 

    &__video{ 
        max-width: 130px;  
        width: 100%;
        display: block;  
        font-size: 17px;   
        @extend %roboto-500; 
        padding: 13px 7px; 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        // align-items: center; 
        font-size: 17px; 
        color:#FFF; 
        height: 50px;
    } 
     
    &__bottom{ 
        max-width: 1280px;  
        width: 100%; 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        margin-bottom: 64px;
    } 
     
    &__bottom-text{ 
      @extend %roboto-500; 
      font-size: 18px; 
      color: #FFF;   
      display: block;
    } 
     
    &__bottom-line{ 
        max-width: 850px; 
        width: 100%; 
        height: 1px; 
        background-color:#FFF;
    }
}
 
.help-nature{  
     
    &__main{ 
        padding-left: 97px; 
        display: flex; 
        justify-content: space-between; 
        margin-bottom: 64px;
    }
      
    &__content{  
        border: 1px solid transparent;
        padding-top: 62px; 
        max-width: 607px;    
    } 
     
    &__suptitle{ 
      margin-bottom: 32px;
    } 
     
    &__title{ 
        max-width: 590px; 
        border: 1px solid transparent; 
        margin-bottom: 32px;
    } 
     
    &__text{ 
        margin-bottom: 35px;
    } 
     
    &__text--biggermargin{ 
        margin-bottom: 48px;
    } 
     
    &__btn{ 
        height: 50px;
        max-width: 145px; 
        padding: 15px 28px;
    } 
     
    &__video{   
       border:1px solid transparent;  
       width: 100%;
       max-width: 480px;  
       height: 578px;   
       background-image: url('../images/help-nature/video-bg.jpg'); 
       background-repeat: no-repeat;  
       background-position:center; 
       background-size:cover; 
       display: flex;  
       justify-content: center; 
       align-items:center;
    } 
     
    &__video-play{ 
        width: 64px; 
        height: 64px; 
        border-radius:50%; 
        background-color:#FFF; 
        display: flex;  
        justify-content: center; 
        align-items:center;
    } 
     
    &__supporters{ 
        border:1px solid transparent; 
        padding: 41px 0; 
        position: relative; 
        display: flex; 
        justify-content: space-between; 
        align-items:center; 
        border-top: 1px solid #E5E5E5; 
        margin-bottom: 25px;
    }  

    &__supporters-title{ 
        border: 1px solid transparent; 
        text-transform: uppercase; 
        max-width: 203px;  
        padding: 0 18px 0 3px; 
        @extend %roboto-700;  
        font-size: 17px;
        color:#1D2130; 
        background-color:#FFF; 
        position: absolute; 
        top: -14px; 
        left: -1px;
    }
} 
 
.wecare{   
    background-color: #EFF7F2;  
     
    &__main{ 
      padding-left: 97px; 
      display: flex; 
      justify-content: space-between;
    }
     
    &__content{ 
        border: 1px solid transparent; 
        max-width: 609px; 
        padding: 95px 0 72px 0;
    }  
     
    &__suptitle{ 
        margin-bottom: 32px;
    }

    &__title{ 
        margin-bottom: 17px; 
        position: relative;
    }
     
    &__subtitle{ 
        margin-bottom: 32px;
    } 
      
    &__points{ 
        border-left: 1px solid #E5E5E5;
    } 

    &__point{ 
        border: 1px solid transparent; 
        max-width: 420px; 
        padding-left: 75px; 
        height: 80px; 
        margin-bottom: 25px;
    }  
     
    &__point--nomargin{ 
        margin-bottom: 0;
    }
     
    &__point-title{ 
       @extend %roboto-700;   
       font-size: 25px; 
       color:#1D2130; 
       margin-bottom: 8px; 
       position: relative;
    }   
     
    &__point-title::before{ 
        content: ''; 
        width: 28px; 
        height: 28px;  
        border: 1px solid transparent;  
        background-image:url('../images/wecare/cities.svg'); 
        background-repeat: no-repeat; 
        background-position: center;    
        background-size: cover; 
        position: absolute; 
        top: 0px;  
        left: -50px;
    } 

    &__point-title--plantation::before{ 
        background-image:url('../images/wecare/tree-plantation.svg');    
    } 
     
    &__point-title--water::before{ 
        background-image:url('../images/wecare/water.svg');     
    } 
     
    &__point-title--animal::before{ 
        background-image:url('../images/wecare/animal.svg');    
    }
      
    &__text{ 
        line-height: 25px; 
        color: #525560;
    } 
     
    &__img{ 
        max-width: 480px;  
        height: 658px; 
        margin: 146px 0 97px 0;

    }
} 
 
.society{ 
     
    &__inner{ 
        padding: 95px 0;
    } 
     
    &__content{ 
       padding: 95px 0 0 97px;
    } 
     
    &__suptitle{ 
        margin-bottom: 32px;
    } 
     
    &__title{ 
        max-width: 645px;
    } 
     
    &__title{ 
        margin-bottom: 65px;
    } 

    &__items{ 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items:center; 
        margin-bottom: 97px;
    } 
     
    &__item{ 
       max-width: 410px; 
       padding: 80px 48px 48px 48px;  
       border:1px solid transparent;  
       position: relative; 
       overflow: hidden;  
       border-radius: 4px; 
       border-radius: 14px;
    }   
     
    &__item::before {
        content: ""; 
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Затемнений фон (чорний з прозорістю 0.5) */
        opacity: 1; /* Початкова прозорість 0, ефект появи */
        transition: opacity 0.3s ease; /* Анімація зміни прозорості з тривалістю 0.3 секунди */
      }
        
      &__item:hover::before {
        opacity: 0; /* Затемнений фон стає повністю видимим при наведенні */  
      }  
       
      &__item-btn{ 
        padding: 15px 27px;
        max-width: 132px;  
        cursor: pointer;  
        z-index:15; 
        position: relative; 
        background: rgba(0, 0, 0, 0.5); 
        transition: opacity 0.3s ease;
    }
       
      &__item:hover{  
        .society__item-btn{  
            background-color: #fff;
         }
      }
     
    &__item--plantation{ 
        background-image: url('../images/society/plantation.jpg'); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center;
    }
      
     
    &__item--cleanliness{ 
        background-image: url('../images/society/cleanliness.jpg'); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center;
    }  
     
    &__item--wildlife{ 
        background-image: url('../images/society/wildlife.jpg'); 
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position: center;  
    }

    &__item-title{ 
        color: #FFF;  
        margin-bottom: 17px;
    } 
     
    &__item-text{ 
        color:#FFF; 
        margin-bottom: 65px;
    } 
        
}
 
.donations{ 
    background-color:#0B0706;    
    padding: 97px 0;
     
    &__inner{ 
        display: flex; 
        align-items:center; 
        justify-content: space-between;
    }
     
    &__content{ 
        max-width: 650px; 
        border: 1px solid transparent;
    } 
     
    &__title{  
        color:#FFF; 
        margin-bottom: 17px;
    } 
     
    &__subtitle{ 
        color:#FFF;  
        margin-bottom: 32px;   
    } 
     
    &__jobdone{ 
        border: 1px solid transparent;  
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        row-gap: 15px; 
        column-gap: 25px;  
        // height: 58px;
    } 
     
    &__jobdone-item{ 
        padding-left: 25px;  
        color: #FFF; 
        border:1px solid transparent; 
        position: relative; 
        font-size: 15px;
    } 
      
    &__jobdone-item::before{ 
        content: ""; 
        width: 17px; 
        height: 17px; 
        border-radius: 4px; 
        background-color:#BEF3C0; 
        position: absolute;
        top: 3px; 
        left: 1px;
    } 
     
    &__jobdone-item--cleanliness::before{
        background-color: #AC94F1;
    } 
     
    &__jobdone-item--helping::before{ 
        background-color: #FFF0CA;   
    } 
     
    &__jobdone-item--safety::before{ 
        background-color:#F9CF64;
    } 
     
    &__jobdone-item--feeding::before{ 
        background-color:#F38FBF;
    } 
     
}  
 
.contribute{ 
    padding: 110px 0 97px; 
     
    &__inner{ 
      background-image:url('../images/contribute/contribute-bg.jpg'); 
      background-repeat: no-repeat; 
      background-size: cover; 
      background-position: center; 
      border: 1px solid transparent;   
      border-radius: 10px; 
      padding-top: 93px; 
      text-align: center;
    } 
     
    &__title{ 
        color:#FFF; 
        max-width: 630px; 
        margin: 0 auto 36px;
    }  
     
    &__buttons{ 
        border: 1px solid transparent; 
        max-width: 347px; 
        margin: 0 auto 93px; 
        display: flex; 
        justify-content: space-between;  
        align-items: center;
    }
     
    &__btn-green{ 
        max-width: 200px; 
        padding: 17px 27px;
    } 
     
    &__btn-grey{ 
        max-width: 115px; 
        padding: 17px 27px;
    }
} 
 
.news{  
     
    &__inner{ 
      padding-top: 87px; 
      border-top: 1px solid #E5E5E5; 
      position:relative;
    } 

    &__title{ 
        font-size: 40px; 
        @extend %roboto-700; 
        color:#1D2130;  
        border: 1px solid transparent;  
        padding-right: 25px; 
        background-color:#FFF; 
        max-width: 325px; 
        position: absolute;  
        top: -15px; 
        left: 0;
    } 
      
    &__items{ 
        display: flex; 
        justify-content: space-between; 
        align-items:center; 
        margin-bottom: 97px;
    }   
     
    &__item-link{  
        display: block;
        overflow: hidden;
        position: relative; 
    } 

    &__item{ 
        border: 1px solid transparent;  
        max-width: 302px; 
        display: block; 
    }    
     
  
   &__item.rotate .news__item-img {
        animation: rotateImage 3s linear forwards;
      }
      
      @keyframes rotateImage {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(360deg);
        }
      }   
 
    &__item-img{ 
        margin-bottom: 17px; 
        width: 100%;
        height: 100%;
        transition: transform 2s ease;
    } 
      
    &__item-title{ 
        margin-bottom: 10px;
    } 
     
    &__item-text{ 
        @extend %roboto-400; 
        font-size: 17px; 
        color:#525560;  
    }
} 
 
.events{ 

    &__inner{  
        padding-top: 76px;
        border-top: 1px solid #E5E5E5;
        position: relative;
    } 
     
    &__title{ 
        font-size: 40px; 
        @extend %roboto-700; 
        color:#1D2130;  
        border: 1px solid transparent;  
        padding: 0 25px; 
        background-color:#FFF; 
        max-width: 325px; 
        position: absolute;  
        top: -15px; 
        left: -15px;    
    }  
     
    &__items{ 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        margin-bottom: 97px;
     }
     
    &__item{ 
        max-width: 628px; 
        height: 191px; 
        border-radius: 8px; 
        background-color:#BEF3C0; 
        padding: 32px 48px 40px 40px;   
        max-width: 630px; 
        width: 100%;
    } 
     
    &__item-inner{ 
        border: 1px solid transparent; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        height: 115px;
    }  
     
    &__item-number{ 
       @extend %roboto-700;   
       font-size: 48px;
       color: #1D2130; 
       display: block; 
       padding-top: 5px; 
       margin-bottom: 17px;
    } 
     
    &__item-month{ 
       @extend %roboto-700; 
       font-size: 17px;     
       color: #1D2130;
    }  
     
    &__item-content--mod{  
        padding-bottom: 34px;
    }
     
    &__item-suptitle{ 
        @extend %roboto-700; 
        font-size: 17px;     
        color: #1D2130;    
        text-transform: uppercase;
        margin-bottom: 10px; 
        position:relative;      
        max-width: 180px; 
        border:1px solid transparent;
         
        &::after{ 
            content: ''; 
            width: 45px; 
            height: 2px; 
            background-color:#1D2130;  
            position: absolute; 
            top: 12px;
            right: -5px;
          } 
    } 
      
      
    &__item-arrow{ 
       display: block; 
       width: 57px; 
       height: 57px; 
       border-radius:50%;  
       background-color:#FFF; 
       display: flex; 
       justify-content: center; 
       align-items: center; 
    }   
        
    &__item-title{ 
        max-width: 345px;
    }
} 
 
.about-us{    
    background: rgb(239,247,242);
    background: linear-gradient(0deg, rgba(239,247,242,1) 59%, rgba(255,255,255,1) 60%);

    &__inner{ 
        border: 1px solid transparent; 
        padding-top: 97px; 
        padding: 97px 0 0 0;
    }   
     
    &__title-wrapper{ 
        padding-left: 97px;
    }
     
    &__suptitle{ 
        margin-bottom: 32px; 
    }  
     
     
    &__title{ 
      color:#1D2130; 
      max-width: 650px;  
      margin-bottom: 97px;
    } 
     
    &__img-wrapper{ 
        display:flex; 
        justify-content: center; 
        align-items: center; 
        margin: 0 auto; 
        border: 1px solid transparent;
    } 
     
    &__link{ 
        width: 70px; 
        height: 70px; 
        border-radius:50%; 
        background-color:#FFF;  
        z-index: 15; 
        position:absolute; 
        display: flex; 
        justify-content: center; 
        align-items:center;
    } 
     
    &__link-img{ 
        width: 30px; 
        height: 30px;
    } 
     
    &__img-wrapper{
        margin-bottom: 97px;
    } 
     
    &__content{  
        width: 100%;
        max-width: 1089px; 
        border: 1px solid transparent; 
        margin: 0 auto 99px;  
        display: flex; 
        justify-content: space-between;
    }  
     
    &__item{ 
        max-width: 497px; 
        border: 1px solid transparent;
    }
     
    &__item-suptitle{ 
        font-size: 17px; 
        @extend %roboto-700; 
        text-transform: uppercase; 
        margin-bottom: 17px; 
        color:#1D2130;
    } 
     
    &__item-title{ 
        max-width: 497px;  
        width: 100%;
        margin-bottom: 10px;
    } 
     
    &__supporters{ 
        border: 1px solid transparent; 
        position: relative; 
        padding-top: 48px; 
        display: flex; 
        justify-content: space-between; 
        margin-bottom: 97px;
    } 
     
    &__supporters-title{ 
        font-size: 17px; 
        @extend %roboto-700; 
        text-transform: uppercase; 
        color:#1D2130;    
        position: absolute; 
        top: 0; 
        left: 0;
    }
     
}  

 
.awards{ 
     
  &__inner{ 
        border: 1px solid transparent; 
        text-align: center;  
        padding-top: 97px;

    }  
      
    &__title{ 
        margin-bottom: 70px;
    } 

    &__items{ 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        width: 1099px; 
        margin: 0 auto 97px;
    }
     
    &__item{ 
        border: 1px solid transparent;  
        width: 170px; 
        text-align: center;
    }
      
    &__item-img{ 
        margin: 0 auto 17px;
    } 
     
    &__item-date{ 
      @extend %roboto-700; 
      font-size: 24px; 
      color:#1D2130;
      margin-bottom: 5px;

    }  
     
    &__item-title{ 
      @extend %roboto-700;     
      font-size: 18px;  
      margin-bottom: 5px; 
      color:#1D2130;
    } 
     
    &__item-location{ 
        @extend %roboto-500;  
        font-size: 17px;       
    }

}
 




  

















@import 'media';